body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c3540;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #f5f5f5;
}

.title {
    text-align: center;
}

.topics {
    margin-top: 40px;
}

.topic {
    margin-bottom: 40px;
}

.topic h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f5f5f5;
}

.progress-bar {
    height: 100%;
    background-color: #4E98B6;
    width: 0%;
}

ul li {
    list-style: none;
}

ul li a {
    color: #4E98B6 ;
    text-decoration: none;
}

ul li a:hover {
    color: #6CA9C5;
    text-decoration: underline;
}

