body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #212A3E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.recommended-form {
  width: 360px;
  background-color: #F1F6F9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
} 

h2 {
  font-size: 30px;
  color: #161c29;
  padding: 10px;
}

.recommended-courses button {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #394867;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s ease;
}

.recommended-courses button:hover {
  background-color: #273248;
}
